name: 'Habitat: Publish and Promote Package'

on:
  push:
    tags: [ 'v*' ]

env:
  HAB_LICENSE: accept-no-persist

jobs:
  habitat-publish:

    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Setting pkg_version version
      run: |
        # extract version from tag name without 'v' prefix
        pkg_version="${GITHUB_REF:11}"

        # trim patch version to only set MAJOR.MINOR in Habitat
        pkg_version="${pkg_version%.*}"

        # write into plan.sh
        sed -i "/^pkg_version=.*/c\pkg_version='${pkg_version}'" plan.sh

    - uses: JarvusInnovations/infra-components@channels/github-actions/habitat-publish/latest
      with:
        checkout: false
        hab-origin-key-secret: ${{ secrets.HAB_ORIGIN_KEY }}
        hab-origin-key-public: ${{ secrets.HAB_ORIGIN_KEY_PUB }}
        hab-auth-token: ${{ secrets.HAB_AUTH_TOKEN }}
